@keyframes startup {
    form{left:-100px;}
    to{  left:0px;}
}
@keyframes selecinfo {
    from{left:-15}
    to{left:35}
}
body{
    margin-left: 30px;
    margin-top: 10px;
    
}

#contopciones{
    padding:20px;
}
.op {
    width:150px;
    height: 150px;
    left:0px;
    transition: 400ms;
    background-color: rgb(236, 128, 240);
    position: relative;
    vertical-align: middle;
    animation: startup 0.5s;
}
.op:hover{
    left: 25px;
    background-color: rgb(0, 193, 252);
    box-shadow: -25px 0px 0 0 lightblue;
}


.opmenu{
    height: 150px;
    width: 150px;
    display:inline-flex;
    vertical-align: middle;
}

.opmenuinfo{
    display: none;
    animation: selecinfo 88ms;
    position:relative;
    left:35px;
    vertical-align: middle;
    text-align: left;
}

